.credit__card {
    animation: drop 3s forwards;
    opacity: 0;
    animation-delay: 6s;
}

.form__card {
    animation: skewScale 3s forwards linear;
    opacity: 0;
    animation-delay: 2s;
}

@keyframes drop {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.5;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes skewScale {
    0% {
        opacity: 0.2;
        width: 18%;
        height: 18%;
    }
    25% {
        opacity: 0.4;
        width: 35%;
        height: 35%;
    }
    50% {
        opacity: 0.6;
        width: 45%;
        height: 45%;
    }
    75% {
        opacity: 0.8;
        width: 65%;
        height: 65%;
    }
    100% {
        opacity: 1;
    }
}
