.credit__card {
    width: 440px;
    height: 252px;
    background: rgb(228, 85, 33);
    margin-top: 7%;
    margin-left: 10%;
    border-radius: 8px;
}

.credit__card__details {
    margin-top: -25%;
}

.card__brand {
    width: 100%;
    color: ghostwhite;
    display: flex;
    justify-content: space-between;
    padding: 1.2em 1em 0.9em;
    padding-left: 2em;
}


.card__chip__type,
.master-card {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.master-card {
    position: relative;
    left: -50px;
    margin-top: 1%;
}

.gold {
    position: absolute;
    background: rgb(228, 146, 40);
    left: 25px;
    opacity: .7;
}

.orangered {
    background: rgb(172, 49, 5);
    left: 0;
}

.circle {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: none;
}

.card__chip {
    height: 45px;
    width: 60px;
    margin-left: 4em;
    background: rgb(228, 152, 53);
    border-radius: 5px;
}

.bank__brand {
    height: 70px;
    width: 70px;
    border: 1px solid ghostwhite;
    padding: 0.2em 0.5em;
}

.square__inner {
    width: 30%;
    height: 30%;
    margin-left: 4em;
    margin-top: 1em;
    background: ghostwhite;
}

.card__type {
    color: rgb(34, 33, 33);
    font-size: 2em;
    margin-top: 0.8em;
    font-weight: bold;
    margin-left: 1em;
}

.card__brand h3 {
    margin-top: 0.3em;
    font-size: 1.6em;
}

.card__form__control {
    height: 26px;
    width: 100%;
    border: none;
    color: ghostwhite;
    background: none;
    font-size: 1.5em;
    padding: 0.6em 0.4em 0.8em;
    &::placeholder {
        color: rgb(216, 208, 208);
    }
}

.name {
    width: 75%;
}

.expiry {
    width: 25%;
    font-size: 20px;
}

.credit-card input {
    margin-top: 0.1em;
}
